<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate Random Number</title>
    <style>
        body {
            background-color: rgb(249, 255, 195);
        }
        button {
            margin-bottom: 15px;
            border-radius: 15px;
            background-color: rgb(164, 211, 252);
            padding: 5px;
            padding-left: 10px;
            padding-right: 10px;
            font-size: 15px;
            font-family: 'Courier New', Courier, monospace;
        }
        h1 {
            font-family:'Courier New', Courier, monospace
        }
    </style>
</head>
<body>
    <center>
        <h1>Generate Random Number</h1>
        <button onclick="location.href='{% url 'script' %}'">Generate</button>
    </center>
    {% if number %}
    <center>Random Number is: {{number}}</center>
    <script>document.body.style.backgroundColor= "#{{number}}"</script>
    {% endif %} 
</body>
</html>